header {
    background-image: url("../images/logo.png");
    background-color: white;
    background-position: 20px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #CCCCCC;
    height: 70px;
    width: 100%
}