.house {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.places {
    font-size: 30px;
    text-align: left;
}

.house article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

.house h2 {
    font-size: 30px;
    text-align: center;
}